<%= render 'layouts/innerpage' %>


<h3>Joshua Anderson: Technology Enthusiast</h3>
<p>
Since beginning my job search I have targeted employment opportunities in Front End Web Development and Digital Marketing. My experiences since graduating with a Bachelors Degree from Syracuse University in 2011 have been quite unconventional in that the opportunities I was given allowed me to flourish in numerous roles and attain a high level of responsibility and personal accountability early on in my career. I have already worked for two Fortune 500 companies as well as had my fair share of entrepreneurial experiences, which has allowed me to reach levels of individual success as well as some depth of failure. I mention my failures because I truly believe as a leader and as someone still early in their career; I have learned so much more from my defeats then I have from my victories.
</p>
<p>
No matter what tasks, roles, or responsibilities I have taken on in my career, I have always performed them with great quality and leadership. I have led teams of talented individuals, given professional presentations to investors and audiences of hundreds of people, and closed consulting deals worth thousands of dollars all while pursuing (and completing) a Masters Degree in Information Management. My Master's Degree was afforded to me through a Kauffman Entrepreneurial Fellowship and scholarships from Syracuse University as an acknowledgement of the leadership qualities they believe I have and will continue to show in the tech industry.
</p>
<p>
Over the past 5 years I've grown my technical ability for: Ruby on Rails, PHP, HTML, CSS, and JQuery so that I can better interface with developers and take on that responsibility. While in graduate school I was able to sharpen my expertise by building a marketplace startup business. I also possess hands on experience with Search Engine Optimization, building Ecommerce based products, and have been designing and building websites for the past 10 years. 
</p>