<%= render 'layouts/innerpage' %>

<span class="back-link" style="margin-top: -48px;"><a href="https://github.com/JoshAnderson5">View My Github Profile</a></span>

<div class="icon-project">
<%= link_to image_tag("browser256.png", :alt => "Website Icon", :class => 'frame'),  "" %>
</div>

<div class="list-group">
      <a href="#" class="list-group-item active">
        <h3 class="list-group-item-heading" style="text-align:center;">Recent Projects</h3>
        <p class="list-group-item-text" style="text-align:center;">Below is a list of some of the projects I've worked on over the last few years. Hopefully it gives you a better insight into some of my capabilities.</p>
      </a>

      <a href="/projects/uvalue" class="list-group-item">
        <h4 class="list-group-item-heading" style="text-align:center;">Uvalue</h4>
        <p class="list-group-item-text" style="text-align:center;">Wireframes, Photoshop, Php, Linux, Html, CSS, Javascript, JQuery</p>
      </a>
 </div>

