<%= render 'layouts/innerpage' %>

<h1>Uvalue.co: Making the Pivot</h1>

<div class="white-area">
<p>Uvalue is undergoing a transition phase. If you go to www.uvalue.co you will see the first version of Uvalue which is still live a college community marketplace. I'm currently working to make the application more expansive and impactful within the ecommerce vertical. A preview for what is planned for the next version can be found in the slideshare presentation listed below.</p>


<iframe src="http://www.slideshare.net/slideshow/embed_code/29474322" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/joshuaaaronanderson/uvalue-ruby-demoday2013" title="Uvalue ruby demoday2013" target="_blank">Uvalue ruby demoday2013</a> </strong> from <strong><a href="http://www.slideshare.net/joshuaaaronanderson" target="_blank">Joshua Anderson</a></strong> </div>

</div>